name: iOS Build and Test
on:
  pull_request:
    branches:
      - main

jobs:
  build-and-test:
    runs-on: macos-15 # Ensure you are using Sequoia

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      # Add this step to explicitly select Xcode 16 if available
      - name: Set Xcode version
        run: sudo xcode-select -s /Applications/Xcode_16.1.app || sudo xcode-select -s /Applications/Xcode_16.0.app

      - name: Clean DerivedData
        run: rm -rf ~/Library/Developer/Xcode/DerivedData

      - name: Install xcbeautify
        run: brew install xcbeautify

      - name: Run tests
        run: |
          set -o pipefail
          xcodebuild test \
            -project MediStock.xcodeproj \
            -scheme MediStock \
            -sdk iphonesimulator \
            -destination 'platform=iOS Simulator,name=iPhone 15' \
            -derivedDataPath DerivedData \
            -resultBundlePath test-results.xcresult \
            CODE_SIGN_IDENTITY="" \
            CODE_SIGNING_REQUIRED=NO \
            CODE_SIGNING_ALLOWED=NO \
            ONLY_ACTIVE_ARCH=NO \
            -skipPackagePluginValidation \
            -skipMacroValidation \
            | xcbeautify
