name: MediStock CI

on:
  push:
    branches: [ "main", "master", "refactor/architecture-and-di" ]
  pull_request:
    branches: [ "main", "master", "refactor/architecture-and-di" ]

jobs:
  build-and-test:
    runs-on: macos-15

    steps:
    - name: Checkout du code
      uses: actions/checkout@v4

    - name: Configuration de Xcode
      run: sudo xcode-select -s /Applications/Xcode_16.app

    - name: Build and Test
      run: |
        xcodebuild test \
          -project "MediStock.xcodeproj" \
          -scheme "MediStock" \
          -destination 'platform=iOS Simulator,name=iPhone 15,OS=latest' \
          -enableCodeCoverage YES
